body{
	overflow-x: hidden;
	font-size: 1em;
}

a {
	position: absolute;
	top:900px;
	left:1150px;
	font-family: 'Univers', sans-serif;
	font-weight: normal;
	font-size: 10px;
	text-decoration: none;
}


h1{
	margin: 0;
	font-family: 'Univers', sans-serif;
	font-style:oblique;
	color: #B21818;
	font-size: 80px;
}

.header .header-p{
	font-family: 'Univers', sans-serif;
	font-style:oblique;
	font-weight: bold;
	color: #B21818;
	font-size: 20px;
	max-width:550;
	line-height: 1.5;
}

.header{
	margin:0%;
	width: 80%;
	height: 600px;
	padding: 10%;
	background: url("crowd.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.buttoncontainer {
	width:100%;
	text-align: center;

}

button {
	width:250px;
	margin:5px 20px;
	font-family: 'Univers', sans-serif;
	font-style:oblique;
	font-weight: bold;
	font-size: 1em;
	background:none;
	border:none;
	cursor:pointer;

}

.backgroundimg {
	width:70%;
	height: 300px;
	/*padding-top: 50%;*/
	padding-left:0;
}

.band-container {
	background-size: 100% auto;
	background-repeat: no-repeat;
	display:none;
}

.band-container .band-content {
		margin-top:70%;
}

					#container1 .band-content{
						margin-top: 30%;
					}
					#container2 .band-content{
						margin-top: 30%;
					}
					#container3 .band-content{
						margin-top: 50%;
					}
					#container4 .band-content{
						margin-top: 50%;
					}
					#container5 .band-content{
						margin-top:50%;
					}
					#container7 .band-content{
						margin-top:45%;
					}
					#container8 .band-content{
						margin-top:35%;
					}
					#container9 .band-content{
						margin-top:80%;
					}
					#container10 .band-content{
						margin-top:40%;
					}
					#container11 .band-content{
						margin-top:50%;
					}
					#container12 .band-content{
						margin-top:30%;
					}
					#container13 .band-content{
						margin-top:40%;
					}
					#container14 .band-content{
						margin-top:40%;
					}
					#container15 .band-content{
						margin-top:40%;
					}
					#container16 .band-content{
						margin-top:45%;
					}

#container1 {
	background-image: url("kingsmen.jpg");
}
#container2 {
	background-image: url("velvets.jpg");
}
#container3 {
	background-image: url("4beatles.jpg");
}
#container4 {
	background-image: url("rollingstones.jpg");
}
#container5 {
	background-image: url("kinks.jpg");
}
#container6 {
	background-image: url("sonics.jpg");
}
#container7 {
	background-image: url("stooges.jpg");
}
#container8 {
	background-image: url("ramones.jpg");
}
#container9 {
	background-image: url("cramps.jpg");
}
#container10 {
	background-image: url("x.jpg");
}
#container11 {
	background-image: url("delfuegos.jpg");
}
#container12 {
	background-image: url("oblivians.jpg");
}
#container13 {
	background-image: url("theeohsees.jpg");
}
#container14 {
	background-image: url("strokes.jpg");
}
#container15 {
	background-image: url("whitestripes.jpg");
}
#container16 {
	background-image: url("yeahyeahyeahs.jpg");
}


.bandheaders {
	font-family: 'Univers', sans-serif;
	font-style:oblique;
	font-weight: bold;
	color: #B21818;
	font-size: 50px;
	background-color: rgba(255,255,255,.5);
}

.band-info {
	font-family: 'Univers', sans-serif;
	font-weight: normal;
	font-size: 100%;
	line-height: 1.5;
	padding:10px 15px;
	max-width: 50%;
	margin-left: 25%;
	text-align: left;
	background-color: rgba(255,255,255,.5);

}

.audiocontainer {
	text-align: center;
	padding-bottom: 3%;
	padding-top: 2%;
}

.vidcontainer {
	text-align: center;
	padding-bottom: 2%;
}

.audio {
	display:inline-flex;

}

.vid {
	display:inline-flex;
}

.live-caption {
	display: inline-flex;
	margin-left: 16%;
	font-family: 'Univers', sans-serif;
	font-style: oblique;
	font-weight: normal;
	font-size:100%;
}
.interview-caption {
	display: inline-flex;
	margin-left: 23%;
	font-family: 'Univers', sans-serif;
	font-style: oblique;
	font-weight: normal;
	font-size:100%;
}






		@media screen and (max-width:700px){
			.header{
				width:90%;
				padding: 5%;
				background: none;
			}
			.backgroundimg {
				margin:0;
				width:100%;
				height: 300px;
			}
			.band-info {
				max-width: 100%;
				margin-left: 0;
			}
			.vid {
			padding-top: 3%;
			padding-bottom: 3%;
			}
			.audio {
				padding-top: 5%;
				padding-bottom: 5%;
			}



		}
