body { 
	background-color: #ad8f8a;
	color:white;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-top: 30px;
}


h1 {
	font-family:Helvetica;
	font-size:50px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-transform:uppercase;
	text-align:center;
	color:black;
	background-color: #8fb8bf
}


h2 {
	font-family:helvetica;
	text-align:center;
	color:white;
}


p {
	font-family: helvetica;

}


ol {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 20px;
	color:black;
	background-color: #8fb8bf


}
li {
	padding-bottom: 20px;
	font-family:helvetica;
	font-size:20px;
}
