.headerstuff {
  max-width: 100%;
}

    h1 {
      font-family: 'Avenir';
      font-size: 4em;
      line-height: 1em;
      text-align: center;
      width: 100%;
      padding-top: 5%;
      padding-bottom: 5%;
      background-color: rgba(70, 139, 84, 1);
    }

.openparagraph {
  font-family: 'Avenir';
  font-size: 1.5em;
  line-height: 1.2em;
  max-width: 80%;
  background-color: white;
  text-align: center;
  margin-left: 10%;
}

   h2 {
     font-family: 'Avenir';
     font-size: 1em;
     text-align: center;
     background-color: white;
     margin-top: 10%;
     margin-bottom:10%;
      }


.buttons {
  width:100%;
  height:100%;
}
  button {
         background-color: rgba(70, 139, 84, 1);
         border:none;
         color: black;
         height:30%;
         width:30%;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 16px;
         text-decoration: none;
      }
          #sleep {
             float: left;
          }
          #air {
             margin-left: 5%;
          }
          #stress {
              float: right;
          }
