.container1 {
  width: 255px;
  height: 620px;
  justify-content: flex-start;
}

.container2 {
    border: 15px solid black;
    width: 700px;
    height: 235.5px;
    justify-content: center;
}

.container3 {
  width: 300px;
  height: 330px;
  align-items:flex-start;
}

.container4 {
  width: 370px;
  height: 290px;
  align-items:flex-end;
  justify-content:flex-end;
}

.container {
  display: flex;
  flex-direction: column;
}
.item:nth-child(1) {
  font-size: 50px;
  line-height: 45px;
  padding-bottom: 20px;
}
.item:nth-child(2) {
  height:200px;
  width:250px;
  background-color:black;
}
.item:nth-child(3) {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
}
.item:nth-child(4) {
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}





.item1:nth-child(1){
  font-size:50px;
}
.item2:nth-child(2){
  font-size:30px;
}
.item3:nth-child(3){
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
}



.itemA:nth-child(1){
  font-size:50px;
  color:red;
  line-height: 45px;
  padding-bottom: 20px;
}
.itemB:nth-child(2){
  font-family: 'Roboto', sans-serif;
}






.itemC:nth-child(1){
  height:180px;
  width:370px;
  background-color:black;
}
.itemD:nth-child(2){
  line-height: 4.5px;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;

}

@media (max-width 590px) {
.item {
  font-size: 100px;
}
}
